{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{oscar.Index}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Index">Index</label>
            <input id="Index" type="text" class="form-control" placeholder="Index" name="Index" value="{{listing.Index}}">
        </div>
    </div>

        <div class="col">
            <label for="Year">Year Awarded</label>
            <input id="Year" type="text" class="form-control" placeholder="Year"
                   name="Year" value="{{oscar.Year}}">
        </div>
        <div class="col">
            <label for="Age">Age of the Artist</label>
            <input id="Age" type="text" class="form-control" placeholder="Age" name="Age"
                   value="{{oscar.Age}}">
        </div>
        <div class="col">
            <label for="Name">Name of Artist</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name"
                   value="{{oscar.Name}}">
        </div>
        <div class="col">
            <label for="Movie">Name of the Movie</label>
            <input id="Movie" type="text" class="form-control" placeholder="Movie" name="Movie"
                   value="{{oscar.Movie}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}