{% extends "layout.html" %}
{% block content %}
<form action="/oscars/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Index">Index</label>
            <input id="Index" type="text" class="form-control" placeholder="Oscar Index" name="Index" value="{{oscar.Index}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Year">Year Awarded</label>
            <input id="Year" type="text" class="form-control" placeholder="Year Awarded" name="Year" value="{{oscar.Year}}">
        </div>
        <div class="col">
            <label for="Age">Age Awarded</label>
            <input id="Age" type="text" class="form-control" placeholder="Age Awarded" name="Age" value="{{oscar.Age}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Name">Name of Artist</label>
            <input id="Name" type="text" class="form-control" placeholder="Name of Artist"
                   name="Name" value="{{oscar.Name}}">
        </div>
        <div class="col">
            <label for="Movie">Name of the Movies</label>
            <input id="Movie" type="text" class="form-control" placeholder="Name of the Movie" name="Movie" value="{{oscar.Movie}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}